:root {
  /* 🌈 Base 16 Color Variables */
  --color0: #1B1B1B;
  --color1: #7DAEA3;
  --color2: #404030;
  --color3: #E2E2E2;
  --color4: #7e7a6d;
  --color5: #8c8b79;
  --color6: #4E1C6E;
  --color7: #E2E2E2;
  --color8: #141400;
  --color9: #333030;
  --color10: #50503c;
  --color11: #8c8c8c;
  --color12: #9d9888;
  --color13: #7DAEA3;
  --color23: #7DAEA388;
  --color33: #7DAEA333;
  --color14: #c5ac93;
  --color15: ;
}

