(
    palette: Dark((
        name: "Matugen-Dynamic",
        blue: (
            red: {{ {{ colors.primary.default.red }} / 255 }},
            green: {{ {{ colors.primary.default.green }} / 255 }},
            blue: {{ {{ colors.primary.default.blue }} / 255 }},
            alpha: 1.0,
        ),
        red: (
            red: {{ {{ colors.error.default.red }} / 255 }},
            green: {{ {{ colors.error.default.green }} / 255 }},
            blue: {{ {{ colors.error.default.blue }} / 255 }},
            alpha: 1.0,
        ),
        green: (
            red: {{ {{ colors.tertiary.default.red }} / 255 }},
            green: {{ {{ colors.tertiary.default.green }} / 255 }},
            blue: {{ {{ colors.tertiary.default.blue }} / 255 }},
            alpha: 1.0,
        ),
        yellow: (
            red: {{ {{ colors.outline.default.red }} / 255 }},
            green: {{ {{ colors.outline.default.green }} / 255 }},
            blue: {{ {{ colors.outline.default.blue }} / 255 }},
            alpha: 1.0,
        ),
        gray_1: (
            red: {{ {{ colors.surface_container_low.default.red }} / 255 }},
            green: {{ {{ colors.surface_container_low.default.green }} / 255 }},
            blue: {{ {{ colors.surface_container_low.default.blue }} / 255 }},
            alpha: 1.0,
        ),
        gray_2: (
            red: {{ {{ colors.surface_container.default.red }} / 255 }},
            green: {{ {{ colors.surface_container.default.green }} / 255 }},
            blue: {{ {{ colors.surface_container.default.blue }} / 255 }},
            alpha: 1.0,
        ),
        gray_3: (
            red: {{ {{ colors.surface_container_high.default.red }} / 255 }},
            green: {{ {{ colors.surface_container_high.default.green }} / 255 }},
            blue: {{ {{ colors.surface_container_high.default.blue }} / 255 }},
            alpha: 1.0,
        ),
        neutral_0: (
            red: {{ {{ colors.surface_container_lowest.default.red }} / 255 }},
            green: {{ {{ colors.surface_container_lowest.default.green }} / 255 }},
            blue: {{ {{ colors.surface_container_lowest.default.blue }} / 255 }},
            alpha: 1.0,
        ),
        neutral_1: (
            red: {{ {{ colors.surface_dim.default.red }} / 255 }},
            green: {{ {{ colors.surface_dim.default.green }} / 255 }},
            blue: {{ {{ colors.surface_dim.default.blue }} / 255 }},
            alpha: 1.0,
        ),
        neutral_2: (
            red: {{ {{ colors.surface.default.red }} / 255 }},
            green: {{ {{ colors.surface.default.green }} / 255 }},
            blue: {{ {{ colors.surface.default.blue }} / 255 }},
            alpha: 1.0,
        ),
        neutral_3: (
            red: {{ {{ colors.surface_bright.default.red }} / 255 }},
            green: {{ {{ colors.surface_bright.default.green }} / 255 }},
            blue: {{ {{ colors.surface_bright.default.blue }} / 255 }},
            alpha: 1.0,
        ),
        neutral_4: (
            red: {{ {{ colors.surface_variant.default.red }} / 255 }},
            green: {{ {{ colors.surface_variant.default.green }} / 255 }},
            blue: {{ {{ colors.surface_variant.default.blue }} / 255 }},
            alpha: 1.0,
        ),
        neutral_5: (
            red: {{ {{ colors.outline_variant.default.red }} / 255 }},
            green: {{ {{ colors.outline_variant.default.green }} / 255 }},
            blue: {{ {{ colors.outline_variant.default.blue }} / 255 }},
            alpha: 1.0,
        ),
        neutral_6: (
            red: {{ {{ colors.outline.default.red }} / 255 }},
            green: {{ {{ colors.outline.default.green }} / 255 }},
            blue: {{ {{ colors.outline.default.blue }} / 255 }},
            alpha: 1.0,
        ),
        neutral_7: (
            red: {{ {{ colors.on_surface_variant.default.red }} / 255 }},
            green: {{ {{ colors.on_surface_variant.default.green }} / 255 }},
            blue: {{ {{ colors.on_surface_variant.default.blue }} / 255 }},
            alpha: 1.0,
        ),
        neutral_8: (
            red: {{ {{ colors.on_surface.default.red }} / 255 }},
            green: {{ {{ colors.on_surface.default.green }} / 255 }},
            blue: {{ {{ colors.on_surface.default.blue }} / 255 }},
            alpha: 1.0,
        ),
        neutral_9: (
            red: {{ {{ colors.inverse_surface.default.red }} / 255 }},
            green: {{ {{ colors.inverse_surface.default.green }} / 255 }},
            blue: {{ {{ colors.inverse_surface.default.blue }} / 255 }},
            alpha: 1.0,
        ),
        neutral_10: (
            red: {{ {{ colors.inverse_on_surface.default.red }} / 255 }},
            green: {{ {{ colors.inverse_on_surface.default.green }} / 255 }},
            blue: {{ {{ colors.inverse_on_surface.default.blue }} / 255 }},
            alpha: 1.0,
        ),
        bright_green: (
            red: {{ {{ colors.tertiary_fixed_dim.default.red }} / 255 }},
            green: {{ {{ colors.tertiary_fixed_dim.default.green }} / 255 }},
            blue: {{ {{ colors.tertiary_fixed_dim.default.blue }} / 255 }},
            alpha: 1.0,
        ),
        bright_red: (
            red: {{ {{ colors.error.default.red }} / 255 }},
            green: {{ {{ colors.error.default.green }} / 255 }},
            blue: {{ {{ colors.error.default.blue }} / 255 }},
            alpha: 1.0,
        ),
        bright_orange: (
            red: {{ {{ colors.secondary_fixed_dim.default.red }} / 255 }},
            green: {{ {{ colors.secondary_fixed_dim.default.green }} / 255 }},
            blue: {{ {{ colors.secondary_fixed_dim.default.blue }} / 255 }},
            alpha: 1.0,
        ),
        ext_warm_grey: (
            red: {{ {{ colors.outline.default.red }} / 255 }},
            green: {{ {{ colors.outline.default.green }} / 255 }},
            blue: {{ {{ colors.outline.default.blue }} / 255 }},
            alpha: 1.0,
        ),
        ext_orange: (
            red: {{ {{ colors.secondary.default.red }} / 255 }},
            green: {{ {{ colors.secondary.default.green }} / 255 }},
            blue: {{ {{ colors.secondary.default.blue }} / 255 }},
            alpha: 1.0,
        ),
        ext_yellow: (
            red: {{ {{ colors.primary_fixed_dim.default.red }} / 255 }},
            green: {{ {{ colors.primary_fixed_dim.default.green }} / 255 }},
            blue: {{ {{ colors.primary_fixed_dim.default.blue }} / 255 }},
            alpha: 1.0,
        ),
        ext_blue: (
            red: {{ {{ colors.primary.default.red }} / 255 }},
            green: {{ {{ colors.primary.default.green }} / 255 }},
            blue: {{ colors.primary.default.blue }} / 255 }},
            alpha: 1.0,
        ),
        ext_purple: (
            red: {{ {{ colors.surface_tint.default.red }} / 255 }},
            green: {{ {{ colors.surface_tint.default.green }} / 255 }},
            blue: {{ {{ colors.surface_tint.default.blue }} / 255 }},
            alpha: 1.0,
        ),
        ext_pink: (
            red: {{ {{ colors.primary_fixed.default.red }} / 255 }},
            green: {{ {{ colors.primary_fixed.default.green }} / 255 }},
            blue: {{ {{ colors.primary_fixed.default.blue }} / 255 }},
            alpha: 1.0,
        ),
        ext_indigo: (
            red: {{ {{ colors.inverse_primary.default.red }} / 255 }},
            green: {{ {{ colors.inverse_primary.default.green }} / 255 }},
            blue: {{ {{ colors.inverse_primary.default.blue }} / 255 }},
            alpha: 1.0,
        ),
        accent_blue: (
            red: {{ {{ colors.primary.default.red }} / 255 }},
            green: {{ {{ colors.primary.default.green }} / 255 }},
            blue: {{ {{ colors.primary.default.blue }} / 255 }},
            alpha: 1.0,
        ),
        accent_red: (
            red: {{ {{ colors.error.default.red }} / 255 }},
            green: {{ {{ colors.error.default.green }} / 255 }},
            blue: {{ {{ colors.error.default.blue }} / 255 }},
            alpha: 1.0,
        ),
        accent_green: (
            red: {{ {{ colors.tertiary.default.red }} / 255 }},
            green: {{ {{ colors.tertiary.default.green }} / 255 }},
            blue: {{ {{ colors.tertiary.default.blue }} / 255 }},
            alpha: 1.0,
        ),
        accent_warm_grey: (
            red: {{ {{ colors.outline.default.red }} / 255 }},
            green: {{ {{ colors.outline.default.green }} / 255 }},
            blue: {{ {{ colors.outline.default.blue }} / 255 }},
            alpha: 1.0,
        ),
        accent_orange: (
            red: {{ {{ colors.secondary.default.red }} / 255 }},
            green: {{ {{ colors.secondary.default.green }} / 255 }},
            blue: {{ {{ colors.secondary.default.blue }} / 255 }},
            alpha: 1.0,
        ),
        accent_yellow: (
            red: {{ {{ colors.primary_fixed_dim.default.red }} / 255 }},
            green: {{ {{ colors.primary_fixed_dim.default.green }} / 255 }},
            blue: {{ {{ colors.primary_fixed_dim.default.blue }} / 255 }},
            alpha: 1.0,
        ),
        accent_purple: (
            red: {{ {{ colors.surface_tint.default.red }} / 255 }},
            green: {{ {{ colors.surface_tint.default.green }} / 255 }},
            blue: {{ {{ colors.surface_tint.default.blue }} / 255 }},
            alpha: 1.0,
        ),
        accent_pink: (
            red: {{ {{ colors.primary_fixed.default.red }} / 255 }},
            green: {{ {{ colors.primary_fixed.default.green }} / 255 }},
            blue: {{ {{ colors.primary_fixed.default.blue }} / 255 }},
            alpha: 1.0,
        ),
        accent_indigo: (
            red: {{ {{ colors.inverse_primary.default.red }} / 255 }},
            green: {{ {{ colors.inverse_primary.default.green }} / 255 }},
            blue: {{ {{ colors.inverse_primary.default.blue }} / 255 }},
            alpha: 1.0,
        ),
    )),
    spacing: (
        space_none: 0,
        space_xxxs: 4,
        space_xxs: 8,
        space_xs: 12,
        space_s: 16,
        space_m: 24,
        space_l: 32,
        space_xl: 48,
        space_xxl: 64,
        space_xxxl: 128,
    ),
    corner_radii: (
        radius_0: (0.0, 0.0, 0.0, 0.0),
        radius_xs: (4.0, 4.0, 4.0, 4.0),
        radius_s: (8.0, 8.0, 8.0, 8.0),
        radius_m: (16.0, 16.0, 16.0, 16.0),
        radius_l: (32.0, 32.0, 32.0, 32.0),
        radius_xl: (160.0, 160.0, 160.0, 160.0),
    ),
    bg_color: Some((
        red: {{ {{ colors.background.default.red }} / 255 }},
        green: {{ {{ colors.background.default.green }} / 255 }},
        blue: {{ {{ colors.background.default.blue }} / 255 }},
        alpha: 1.0,
    )),
    text_tint: Some((
        red: {{ {{ colors.on_surface.default.red }} / 255 }},
        green: {{ {{ colors.on_surface.default.green }} / 255 }},
        blue: {{ {{ colors.on_surface.default.blue }} / 255 }},
        alpha: 1.0,
    )),
    accent: Some((
        red: {{ {{ colors.primary.default.red }} / 255 }},
        green: {{ {{ colors.primary.default.green }} / 255 }},
        blue: {{ {{ colors.primary.default.blue }} / 255 }},
        alpha: 1.0,
    )),
    success: Some((
        red: {{ {{ colors.tertiary.default.red }} / 255 }},
        green: {{ {{ colors.tertiary.default.green }} / 255 }},
        blue: {{ {{ colors.tertiary.default.blue }} / 255 }},
        alpha: 1.0,
    )),
    warning: Some((
        red: {{ {{ colors.secondary_fixed_dim.default.red }} / 255 }},
        green: {{ {{ colors.secondary_fixed_dim.default.green }} / 255 }},
        blue: {{ {{ colors.secondary_fixed_dim.default.blue }} / 255 }},
        alpha: 1.0,
    )),
    destructive: Some((
        red: {{ {{ colors.error.default.red }} / 255 }},
        green: {{ {{ colors.error.default.green }} / 255 }},
        blue: {{ {{ colors.error.default.blue }} / 255 }},
        alpha: 1.0,
    )),
    window_hint: Some((
        red: {{ {{ colors.surface_tint.default.red }} / 255 }},
        green: {{ {{ colors.surface_tint.default.green }} / 255 }},
        blue: {{ {{ colors.surface_tint.default.blue }} / 255 }},
        alpha: 1.0,
    )),
    neutral_tint: Some((
        red: {{ {{ colors.outline.default.red }} / 255 }},
        green: {{ {{ colors.outline.default.green }} / 255 }},
        blue: {{ {{ colors.outline.default.blue }} / 255 }},
        alpha: 1.0,
    )),
    primary_container_bg: Some((
        red: {{ {{ colors.primary_container.default.red }} / 255 }},
        green: {{ {{ colors.primary_container.default.green }} / 255 }},
        blue: {{ {{ colors.primary_container.default.blue }} / 255 }},
        alpha: 1.0,
    )),
    secondary_container_bg: Some((
        red: {{ {{ colors.secondary_container.default.red }} / 255 }},
        green: {{ {{ colors.secondary_container.default.green }} / 255 }},
        blue: {{ {{ colors.secondary_container.default.blue }} / 255 }},
        alpha: 1.0,
    )),
    is_frosted: false,
    gaps: (0, 8),
    active_hint: 3,
)
