:root {
  /* 🌈 Base 16 Color Variables */
  --color0: {{colors.background.default.hex}};
  --color1: #292727;
  --color2: #404030;
  --color3: {{colors.on_surface.default.hex}};
  --color4: #7e7a6d;
  --color5: #8c8b79;
  --color6: #9e8a76;
  --color7: #dad7a6;
  --color8: #141400;
  --color9: #333030;
  --color10: #50503c;
  --color11: #8c8c8c;
  --color12: #9d9888;
  --color13: {{colors.primary.default.hex}};
  --color23: {{colors.primary.default.hex}}88;
  --color33: {{colors.primary.default.hex}}33;
  --color14: #c5ac93;
  --color15: ;
}
