/*

!/burn-my-windows/
!/fastanime/
!/fastfetch/
!/fish/
!/ghostty/
!/gowall/
!/kitty/
!/matugen/
!/micro/
!/mpv/
!/numen/
!/pop-shell/
!/qBittorrent/
!/qt5ct/
!/qt6ct/
!/vlc/
!/yazi/
!/yt-x/

# Ignore specific subdirectories within micro/
fish/fish_variables
kitty/colors.conf
micro/backups/
micro/buffers/
micro/colorschemes/colors.micro
qt5ct/colors/matugen.conf
qt6ct/colors/matugen.conf
vlc/vlc-qt-interface.conf

!/.gitignore
!/starship.toml
!/open_bar


