:root {
  /* 🌈 Base 16 Color Variables */
  --color0: #0f1416;
  --color1: #2c3133;
  --color2: #bfc8cb;
  --color3: #b2cbd2;
  --color4: #dee3e5;
  --color5: #ffb4ab;
  --color6: #84d2e6;
  --color7: #dee3e5;
  --color8: #0f1416;
  --color9: #0f1416;
  --color10: #003640;
  --color11: #1d343a;
  --color12: #abedff;
  --color13: #84d2e6;
  --color14: #1b2122;
  --color15: #dee3e5;
  --color16: #bec4eb;
}

