:root {
  /* 🌈 Base 16 Color Variables */
  --color0: #1e1818;
  --color1: #3b3535;
  --color2: #d0c6c6;
  --color3: #a5c9d4;
  --color4: #f0e6e6;
  --color5: #ffb4ab;
  --color6: #553333;
  --color7: #f0e6e6;
  --color8: #f5d6d6;
  --color9: #1e1818;
  --color10: #3a1f1f;
  --color11: #0f3a44;
  --color12: #f5d6d6;
  --color13: #d4a5a5;
  --color14: #262020;
  --color15: #f0e6e6;
  --color16: #690005;
  --color17: #302a2a;
  --color18: #d4a5a5;
  --color19: #3a1f1f;
  --color20: #d4c8a5;
  --color21: #3a331f;
  --color22: #3b3535;
  --color23: #221c1c;
  --color24: #1a1414;
  --color25: #f5d6d6;
  --color13-r: 212;
  --color13-g: 165;
  --color13-b: 165;
  --color0-r: 30;
  --color0-g: 24;
  --color0-b: 24;
  --color2-r: 208;
  --color2-g: 198;
  --color2-b: 198;
  --color5-r: 255;
  --color5-g: 180;
  --color5-b: 171;
  --color6-r: 85;
  --color6-g: 51;
  --color6-b: 51;
  --color18-r: 212;
  --color18-g: 165;
  --color18-b: 165;
  --color19-r: 58;
  --color19-g: 31;
  --color19-b: 31;
}
