:root {
  --primary: #ffb695;
  --on_primary: #571e00;
  --primary_container: #e17138;
  --on_primary_container: #000000;
  --inverse_primary: #a04107;
  --primary_fixed: #ffdbcc;
  --primary_fixed_dim: #ffb695;
  --on_primary_fixed: #351000;
  --on_primary_fixed_variant: #7c2e00;

  --secondary: #fcb798;
  --on_secondary: #4f2510;
  --secondary_container: #6a3a24;
  --on_secondary_container: #ffd8c8;
  --secondary_fixed: #ffdbcc;
  --secondary_fixed_dim: #fcb798;
  --on_secondary_fixed: #341101;
  --on_secondary_fixed_variant: #6a3a24;

  --tertiary: #6bd3fd;
  --on_tertiary: #003546;
  --tertiary_container: #249cc4;
  --on_tertiary_container: #000000;
  --tertiary_fixed: #bde9ff;
  --tertiary_fixed_dim: #6bd3fd;
  --on_tertiary_fixed: #001f2a;
  --on_tertiary_fixed_variant: #004d64;

  --error: #ffb4ab;
  --on_error: #690005;
  --error_container: #93000a;
  --on_error_container: #ffdad6;

  --surface_dim: #1b110d;
  --surface: #1b110d;
  --surface_tint: #ffb695;
  --surface_bright: #433631;
  --surface_container_lowest: #150c08;
  --surface_container_low: #241915;
  --surface_container: #281d19;
  --surface_container_high: #332723;
  --surface_container_highest: #3e322d;
  --surface_variant: #57423a;
  --on_surface: #f3ded7;
  --on_surface_variant: #ddc1b5;

  --outline: #a58b81;
  --outline_variant: #57423a;

  --inverse_surface: #f3ded7;
  --inverse_on_surface: #3a2e29;

  --background: #1b110d;
  --on_background: #f3ded7;

  --shadow: #000000;
  --scrim: #000000;
  --source_color: #d3662e;
}

