:root {
  /* 🌈 Base 16 Color Variables */
  --color0: #040b0b;
  --color1: #283f3e;
  --color2: #35495c;
  --color3: #3f515e;
  --color4: #445672;
  --color5: #455e69;
  --color6: #3d6775;
  --color7: #608db4;
  --color8: #122e2f;
  --color9: #324e4d;
  --color10: #425b73;
  --color11: #4e6575;
  --color12: #556b8e;
  --color13: #567583;
  --color14: #4c8092;
  --color15: #81bdf1;
}

