$color0: #1a110f;
$color1: #d8c2bd;
$color2: #e7bdb4;
$color3: #e7bdb4;
$color4: #ffb4a4;
$color5: #ffb4a4;
$color6: #ffb4a4;
$color7: #ffb4a4;
$color8: #1a110f;
$color9: #1a110f;
$color10: #561f13;
$color11: #442a24;
$color12: #ffb4a4;
$color13: #ffb4a4;
$color14: #d8c2bd;
$color15: #d8c2bd;

$color13-r: 255;
$color13-g: 180;
$color13-b: 164;
$color13rgb: unquote("rgb(#{$color13-r}, #{$color13-g}, #{$color13-b}, 0.5)");

@at-root {
  @define-color color0 #{$color0};
  @define-color color1 #{$color1};
  @define-color color2 #{$color2};
  @define-color color3 #{$color3};
  @define-color color4 #{$color4};
  @define-color color5 #{$color5};
  @define-color color6 #{$color6};
  @define-color color7 #{$color7};
  @define-color color8 #{$color8};
  @define-color color9 #{$color9};
  @define-color color10 #{$color10};
  @define-color color11 #{$color11};
  @define-color color12 #{$color12};
  @define-color color13 #{$color13};
  @define-color color14 #{$color14};
  @define-color color15 #{$color15};
  
  @define-color color13-r #{$color13-r};
  @define-color color13-g #{$color13-g};
  @define-color color13-b #{$color13-b};
  @define-color color13rgb #{$color13rgb};
}

