:root {
  /* 🌈 Base 16 Color Variables */
  --color0: #1a110f;
  --color1: #1a110f;
  --color2: #e7bdb3;
  --color3: #e7bdb3;
  --color4: #ffb4a2;
  --color5: #ffb4a2;
  --color6: #dac58c;
  --color7: #f1dfdb;
  --color8: #1a110f;
  --color9: #1a110f;
  --color10: #561f11;
  --color11: #442a23;
  --color12: #3c2f04;
  --color13: #ffb4a2;
  --color14: #f1dfdb;
  --color15: #f1dfdb;
}

