/* 🌌 ABOUT PAGES THEME (WORKS ONLY IN userContent.css) */

@-moz-document url-prefix("about:") {

  :root {
    --in-content-page-background: #131411 !important;
    --in-content-page-color: #e4e2dd !important;

    --in-content-box-background: #1f201d !important;
    --in-content-box-border-color: transparent !important;

    --in-content-text-color: #e4e2dd !important;
    --in-content-deemphasized-text: #c5c8bc !important;

    --in-content-primary-button-background: #b7cea0 !important;
    --in-content-primary-button-text-color: #243515 !important;

    --in-content-button-background: #292a27 !important;
    --in-content-button-text-color: #e4e2dd !important;

    --in-content-link-color: #b7cea0 !important;

    --in-content-textbox-background: #1b1c19 !important;
    --in-content-textbox-color: #e4e2dd !important;

    --in-content-focus-outline-color: #b7cea0 !important;
  }

  body {
    background-color: #131411 !important;
    color: #e4e2dd !important;
  }

  .card,
  .addon,
  .container {
    background: #1f201d !important;
    border-radius: 12px !important;
    border: none !important;
    box-shadow: none !important;
  }

  button:hover {
    background-color: #292a27 !important;
  }

  * {
    scrollbar-color: #b7cea0 #1f201d;
  }
}
