:root {
  /* 🌈 Base 16 Color Variables */
  --color0: #1d2021;
  --color1: #282828;
  --color2: #d5c4a1;
  --color3: #d5c4a1;
  --color4: #ebdbb2;
  --color5: #fb4934;
  --color6: #3c3836;
  --color7: #ebdbb2;
  --color8: #d5c4a1;
  --color9: #1d2021;
  --color10: #282828;
  --color11: #282828;
  --color12: #d5c4a1;
  --color13: #83a598;
  --color14: #282828;
  --color15: #ebdbb2;
  --color16: #1d2021;
  --color17: #32302f;
  --color18: #83a598;
  --color19: #3c3836;
  --color20: #d3869b;
  --color21: #282828;
  --color22: #3c3836;
  --color23: #1d2021;
  --color24: #1d2021;
  --color13-r: 131;
  --color13-g: 165;
  --color13-b: 152;
  --color0-r: 29;
  --color0-g: 32;
  --color0-b: 33;
  --color2-r: 213;
  --color2-g: 196;
  --color2-b: 161;
  --color5-r: 251;
  --color5-g: 73;
  --color5-b: 52;
  --color6-r: 60;
  --color6-g: 56;
  --color6-b: 54;
  --color18-r: 131;
  --color18-g: 165;
  --color18-b: 152;
}

