:root {
  /* 🌈 Base 16 Color Variables */
  --color0: #111418;
  --color1: #2e3135;
  --color2: #c3c7cf;
  --color3: #bbc7db;
  --color4: #e1e2e8;
  --color5: #ffb4ab;
  --color6: #194975;
  --color7: #e1e2e8;
  --color8: #d1e4ff;
  --color9: #111418;
  --color10: #003258;
  --color11: #253140;
  --color12: #d1e4ff;
  --color13: #a0cafd;
  --color14: #1d2024;
  --color15: #e1e2e8;
  --color16: #690005;
  --color17: #272a2f;
  --color18: #a0cafd;
  --color19: #523f5f;
  --color20: #d6bee4;
  --color21: #3b2948;
  --color22: #32353a;
  --color23: #191c20;
  --color24: #111418;
  --color13-r: 160;
  --color13-g: 202;
  --color13-b: 253;
  --color0-r: 17;
  --color0-g: 20;
  --color0-b: 24;
  --color2-r: 195;
  --color2-g: 199;
  --color2-b: 207;
  --color5-r: 255;
  --color5-g: 180;
  --color5-b: 171;
  --color6-r: 25;
  --color6-g: 73;
  --color6-b: 117;
  --color18-r: 160;
  --color18-g: 202;
  --color18-b: 253;
}
