:root {
  /* 🌈 Base 16 Color Variables */
  --color0: #09030c;
  --color1: #722028;
  --color2: #a92927;
  --color3: #704010;
  --color4: #9c5a42;
  --color5: #d25829;
  --color6: #db5d2a;
  --color7: #f3a86a;
  --color8: #290c32;
  --color9: #8e2832;
  --color10: #d33330;
  --color11: #8c5014;
  --color12: #c37052;
  --color13: #ff6e33;
  --color14: #ff7434;
  --color15: #ffe18e;
}

