:root {
  /* 🌈 Base 16 Color Variables */
  --color0: #0c191a;
  --color1: #00696c;
  --color2: #404030;
  --color3: #e2e2e2;
  --color4: #7e7a6d;
  --color5: #8c8b79;
  --color6: #0c5456;
  --color7: #e2e2e2;
  --color8: #141400;
  --color9: #333030;
  --color10: #50503c;
  --color11: #8c8c8c;
  --color12: #9d9888;
  --color13: #4cd9de;
  --color23: #4cd9de88;
  --color33: #4cd9de33;
  --color14: #c5ac93;
  --color15: ;
}
